@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


.container {

background-image: url('https://i.im.ge/2024/04/04/WEtOqF.fundo.png');
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


  

